* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(255, 242, 219);
}

body {
  overflow: hidden;
}

/* HEADER */

header{
  width: 100%;
  height: 150px;
  display: flex;
}

.logo-img-name {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: -45px;
  font-size: 30px;
}

.logo-img {
  margin-top: -40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 930px;
  font-family: monospace;
}

nav {
  width: 500px;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 750;

}

.buttons {
  width: 300px;
  display: flex;
  align-items: center;
  margin-right: 150px;
  margin-left: 500px;
}

.login,
.signup {
  font-weight: 750;
  font-size: 18px;
  border: none;
  width: 100px;
  height: 50px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
}

.login {
  border: none;
}

.login:hover {
  border-radius: 12px;
  background-color: rgb(252, 198, 97);
}

.signup {
  border-radius: 12px;
  border: 3px solid rgb(252, 198, 97);
}


/* MAIN */

main {
  width: 100%;
  height: 700px;
  margin-top: 10px;
}

.head-text-section {
  width: 100%;
  height: 100px;
  margin-top: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.head-text {
  font-size: 70px;
  color: rgb(54, 54, 54);
}

.OrderHome {
  color: rgb(252, 168, 14);
  font-family: monospace;
}

/* BURGER IMG */

.burger-section {
  width: 900px;
  height: 400px;
  float: right;
  margin-right: 150px;
  margin-top: 250px;
}

.burger-img {
  width: 50%;
  position: absolute;
  bottom: -300px;
  left: -300px;
  transform: rotate(10deg);
}

.pizza-img {
  position: absolute;
  right: -180px;
  top: 180px;
  transform: rotate(-40deg);
  opacity: 0.7;
}

/* H1, P, BUTTON TEXT NEXT TO THE BURGER IMG */

.Craving-header {
  font-size: 50px;
  color: rgb(250, 137, 9);
}

.Craving-text {
  margin-top: 20px;
  font-size: 35px;
  color: rgb(122, 122, 122);
  font-weight: 650;
}

.order-btn {
  margin-top: 30px;
  width: 350px;
  height: 75px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  border: 3px solid rgb(250, 137, 9);
  cursor: pointer;
}

.arrow {
  font-size: 40px;
  margin-left: 25px;
  margin-top: 5px;
}

.order-btn:hover {
  color: rgb(250, 137, 9);
}