* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: auto;
  height: 12vh;
  background-color: rgb(13, 14, 12)
}

nav {
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.logo {
  width: 150px;
}

.searchbar {
  color: white;
  font-size: 20px;
  font-weight: 750;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  border: none;
  outline: none;
  text-align: center;
  background-color: rgb(38, 38, 38);
}

.list {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


nav ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: rgb(248, 239, 239);
}
